<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg white lighten-4 fixed-top 
scrolling-navbar" [containerInside]="false"
 >
  
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <img src="../assets/img/astrologo.gif" height="30" alt="">
        <span  style="text-shadow: 2px 2px 5px red;">&nbsp;&nbsp;{{_accountholdername}}</span>
       <span [ngStyle]="{'background-color':getColor(_accountStatus) }" class="blink" > 
         <span  id="spnstatus" outline="true">{{_accountStatus}}</span></span>
        
    </mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
  
      <!--
      <ul class="navbar-nav mr-auto" style="color:black;">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
        </li>
  
        
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Basic dropdown<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
          </div>
        </li>
  
      </ul>
      //-->
      <!-- Links -->
      <div class="form-inline waves-light waves-light ml-auto"  >
        <div class="md-form my-0"  [hidden]="!flg">
            <input class="form-control mr-sm-2" type="text"  #XID placeholder="Search Account"
            (keyup.enter)="LoadWinbackData(XID.value)"
             aria-label="Search">
            <button mdbBtn color="primary" [disabled]="disabledState" outline="true"
             size="sm" (click)="LoadWinbackData(XID.value)" 
            class="my-0 waves-light" type="submit" mdbWavesEffect><i class="fa fa-search"></i></button>
       
      
    </div>
  </div>
  
  <span class="navbar-text ">
      <ul class="navbar-nav ml-auto" >
      <li class="nav-item dropdown"   dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> {{_userFullName}} <span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
           
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="'/home'">Home</a>
            <a *ngIf="IsUserManagementLinkVisible" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="'/userManagement'">Manage User</a>
            <a *ngIf="IsUploadLinkVisible" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="'/checkMapping'">{{_mappingTitle}}</a>
             <a *ngIf="IsAuditLogsVisible" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="'/auditlogs'">Audit Logs</a> 
            <a *ngIf="IsAuditLogsVisible" class="dropdown-item waves-light" mdbWavesEffect [routerLink]="'/campaign'">Campaign List</a> 
            <a class="dropdown-item waves-light" (click)="SignOut()"  mdbWavesEffect ><i class="fas fa-sign-out-alt"></i>&nbsp;Log out</a>
          </div>
          </li>
        </ul>
  </span>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
  