<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark fixed-bottom ">
  <div class="container-fluid text-center text-md-left">


    <!-- <div class="row">
      <div class="col" >
        
        <button class="btn-sm" (click)="basicModal.show()"  mdbBtn type="button" color="amber" mdbWavesEffect >Interactions Details</button>
      </div>
      <div class="col" >
          <button mdbBtn type="button" color="amber" mdbWavesEffect>Disconnection Details</button>
      
      </div>
      <div class="col" >
        <button  mdbBtn type="button" color="amber" mdbWavesEffect>Billing Details</button>
      </div>
      <div class="col" >
        <button  mdbBtn type="button" color="amber" mdbWavesEffect>Free Preview Details</button>
      </div>
      <div class="col" >
        <button rounded="true"  mdbBtn type="button" color="amber" mdbWavesEffect>Flash Message Details</button>
      </div>

    </div> -->

  </div>

  

  
</footer>
<!-- Footer -->