

  
  


<div class="container h-200" >

    

         
       
         <div  *ngIf="_isAgentFirstTimeLogin" class="md-form" class="d-flex justify-content-center h-100">
             <div class="user_card">
                 <mdb-card>
                     <mdb-card-body>
                         <div class="d-flex justify-content-center">
                             <div class="brand_logo_container">
                                 <img src="../assets/img/astrologo.png" width="100px" alt="logo" class="brand_logo">
     
                             </div>
                         </div>    
                       
     
                         <div class="amplify-container">
                             <div class="amplify-form-container">
                                 <div class="amplify-form-body">
                                     <mdb-card-title>
                                         <h4>DCA Portal | Confirm New User Account</h4>
                                     </mdb-card-title>
                                     <hr>
                                     <mdb-card-text>
                                         <div class="amplify-amplify-form-row amplify-signin-username" >
                                             
                                             <div class="input-group mb-3">
                                                 <div class="input-group-append">
                                                     <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                 </div>
                                                 <input required class=" form-control" #XConfirmEmployeeId type="text"
                                                 (mouseout) = 'hasNewUserFilledInformation(XConfirmEmployeeId.value, XConfirmOldPassword.value, XConfirmPassword.value, XReenterPassword.value)'
                                                   placeholder="Enter Employee Id">
                                                   
                                             </div>
     
                                         </div>
                                       
     
                                         <div class="amplify-form-row amplify-signin-password">
                                            
     
                                                 <div class="input-group mb-2">
                                                     <div class="input-group-append">
                                                         <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                     </div>
                                                     <input class=" form-control input_user" #XConfirmOldPassword required="true"
                                                     (mouseout) = 'hasNewUserFilledInformation(XConfirmEmployeeId.value, XConfirmOldPassword.value, XConfirmPassword.value, XReenterPassword.value)'
                                                      type="password" placeholder="Enter old password">
                                                        
         
         
                                                 </div>
                                             </div>
                                         <div class="amplify-form-row amplify-signin-password">
                                            
     
                                             <div class="input-group mb-2">
                                                 <div class="input-group-append">
                                                     <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                 </div>
                                                 <input class=" form-control input_user" #XConfirmPassword required="true"
                                                 (mouseout) = 'hasNewUserFilledInformation(XConfirmEmployeeId.value, XConfirmOldPassword.value, XConfirmPassword.value, XReenterPassword.value)'
                                                     type="password" placeholder="Enter new password">
                                                    
     
     
                                             </div>
                                            
                                         </div>
     
                                         <div class="amplify-form-row amplify-signin-password">
                                            
     
                                             <div class="input-group mb-2">
                                                 <div class="input-group-append">
                                                     <span class="input-group-text">
                                                         <i class="fas fa-key"></i>
                                                     </span>
                                                 </div>
                                                 <input class=" form-control input_user"
                                                  #XReenterPassword required="true"
                                                 (mouseout) = 'hasNewUserFilledInformation(XConfirmEmployeeId.value, XConfirmOldPassword.value, XConfirmPassword.value, XReenterPassword.value)'
                                                  type="password" placeholder="Re-enter new password">
                                                     
                                         </div>
     
                                         <span class="amplify-form-action"> <a
                                             (click)="resetscreen()"   class="amplify-form-link">
                                                Go Back to Login</a></span>
                                            
                                         </div>
                                       
                                         <div class="amplify-form-actions">
                                             <div class="amplify-form-cell-right">
                                                 <button (keyup.enter)="confirmAgent(XConfirmEmployeeId.value,XConfirmOldPassword.value,XConfirmPassword.value,XReenterPassword.value)"
                                                    [disabled]="!isUserInvalid()"
                                                     (click)="confirmAgent(XConfirmEmployeeId.value,XConfirmOldPassword.value,XConfirmPassword.value,XReenterPassword.value)"
                                                     class="amplify-form-button" style="background-color:#C71585;">Confirm
                                                     </button>
                                                 </div>
                                             <div class="amplify-form-cell-left">
                                                 
                                                 <div *ngIf="isConfrimingUser" class="spinner-grow" role="status">
                                                     <span class="sr-only">Loading...</span>
                                                 </div>
                                             </div>
                                         </div>
                                       
                                        
                                     </mdb-card-text>
                                 </div>
                             </div>
                             <!--bindings={}-->
                         </div>
     
     
     
                     </mdb-card-body>
                 </mdb-card>
             </div>
         </div>
     
     
       
    <div *ngIf="IsLoginRequired" class="md-form" class="d-flex justify-content-center h-100">

        <div class="user_card">
            <mdb-card>
                <mdb-card-body>
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="../assets/img/astrologo.png" width="100px" alt="logo" class="brand_logo">

                        </div>
                    </div>

                    <div class="amplify-container">
                        <div class="amplify-form-container">
                            <div class="amplify-form-body align-middle">
                                <mdb-card-title  >
                                    <h4>DCA Portal | Login</h4>
                                    <!-- <span class="amplify-form-action">New User? <a
                                        (click)="ShowConfrimUserScreen()"  class="amplify-form-link">Confirm New User</a></span> -->
                                </mdb-card-title>
                                <hr>
                                <mdb-card-text>
                                       
                                    <div class="amplify-amplify-form-row amplify-signin-username">
                                        <div class="input-group mb-3">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <input  class=" form-control input_user" #XUserID type="text" autocomplete="off" 
                                            (keyup.enter)="signIn(XUserID.value,XPassword.value)"   placeholder="Enter User Id">
                                              
                                        </div>
                                    </div>
                                    <div class="amplify-form-row amplify-signin-password">
                                        <!-- <label class="amplify-input-label"
                                    for="password">Password *</label> -->

                                        <div class="input-group mb-2">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input class=" form-control input_user" #XPassword autocomplete="new-password"
                                            (keyup.enter)="signIn(XUserID.value,XPassword.value)"     
                                            type="password" placeholder="Enter your password">
                                         
                                                                                       </div>
                                        <span class="amplify-form-action">Forgot Password? <a
                                             (click)="ShowPasswordResetWindow()"   class="amplify-form-link">Reset
                                                your password</a></span>
                                    </div>
                                   

                                    <div>
                                        <!-- https://www.npmjs.com/package/ng-recaptcha   -->
                                        <re-captcha (resolved)="resolved($event)" 
                                           [(ngModel)]="formModel.captcha"
                                            name="captcha"                                             
                                            siteKey={{sitekey}}
                                            #captchaRef="reCaptcha" required="true"></re-captcha>
                                    </div>
                                    <!-- <div [hidden]="captchaRef.valid || captchaRef.pristine" class="error">Captcha must be solved</div>
                            <div [hidden]="!captchaRef.valid" class="success">Captcha is valid</div> -->

                                    <div class="amplify-form-actions">
                                        <div class="amplify-form-cell-right"><button
                                           
                                                (click)="signIn(XUserID.value,XPassword.value)"
                                                class="amplify-form-button" style="background-color:#C71585;">Sign
                                                In</button></div>
                                        <div class="amplify-form-cell-left">
                                            <div *ngIf="issign" class="spinner-grow" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </mdb-card-text>
                            </div>
                        </div>
                        <!--bindings={}-->
                    </div>


                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <div *ngIf="IsPwdResetRequired" class="d-flex justify-content-center h-100">
        <div class="user_card">
            <mdb-card>
                <mdb-card-body>
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="../assets/img/astrologo.png" width="100px" alt="logo" class="brand_logo">

                        </div>
                    </div>

                    <div class="amplify-container">
                        <div class="amplify-form-container">
                            <div class="amplify-form-body">
                                <mdb-card-title>
                                    <h4>DCA Portal | Reset Password</h4>
                                </mdb-card-title>
                                <hr>
                                <mdb-card-text>
                                    <div class="amplify-amplify-form-row amplify-signin-username">
                                        <!-- <label
                                    class="amplify-input-label" for="amplifyUsername"> Username *</label> -->
                                        <div class="input-group mb-3">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <input required class=" form-control input_user" #XUserFGID type="text"
                                             placeholder="User Login Id">
                                              
 
                                        </div>

                                        <span class="amplify-form-action"> <a
                                            (click)="resetscreen()"   class="amplify-form-link">
                                               Go Back to Login</a></span>

                                    </div>
                                  

                                  
                                    <div class="amplify-form-actions">
                                        <div class="amplify-form-cell-right"><button
                                                (click)="ForgotPassword(XUserFGID.value)"
                                                class="amplify-form-button" style="background-color:#C71585;">Get Code</button></div>
                                        <div class="amplify-form-cell-left">
                                            <div *ngIf="isfgcode" class="spinner-grow" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </mdb-card-text>
                            </div>
                        </div>
                        <!--bindings={}-->
                    </div>


                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <div *ngIf="IsPwdConfirmationRequired" class="d-flex justify-content-center h-100">
        <div class="user_card">
            <mdb-card>
                <mdb-card-body>
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="../assets/img/astrologo.png" width="100px" alt="logo" class="brand_logo">

                        </div>
                    </div>

                    <div class="amplify-container">
                        <div class="amplify-form-container">
                            <div class="amplify-form-body">
                                <mdb-card-title>
                                    <h4>DCA Portal | Confirm Password</h4>
                                </mdb-card-title>
                                <hr>
                                <mdb-card-text>
                                    <div class="amplify-amplify-form-row amplify-signin-username">
                                        
                                        <div class="input-group mb-3">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <input required class=" form-control input_user" #XcpUserID type="text"
                                             placeholder="Username">
                                              
                                        </div>

                                    </div>
                                    <div class="amplify-form-row amplify-signin-password">
                                       

                                        <div class="input-group mb-2">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fas fa-certificate"></i>
                                                </span>
                                            </div>
                                            <input class=" form-control" #XcpCode required="true"
                                              type="text" placeholder="Enter verifcation code">
                                                
                                                         </div>
                                       
                                    </div>
                                    <div class="amplify-form-row amplify-signin-password">
                                       

                                        <div class="input-group mb-2">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input class=" form-control" #XcpPassword required="true"
                                            autocomplete="new-password" type="password" placeholder="Enter new password">
                                               


                                        </div>
                                       
                                    </div>

                                    <div class="amplify-form-row amplify-signin-password">
                                       

                                        <div class="input-group mb-2">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input class=" form-control" #XconfrimPassword required="true"
                                            autocomplete="new-password" type="password" placeholder="Re-enter new password">
                                              
                                        </div>
                                        <span class="amplify-form-action"> <a
                                            (click)="resetscreen()"   class="amplify-form-link">
                                               Go Back to Login</a></span>
                                    </div>
                                  

                                    <div class="amplify-form-actions">
                                        <div class="amplify-form-cell-right"><button
                                                (click)="confrimNewPassword(XcpUserID.value,XcpCode.value,XcpPassword.value,XconfrimPassword.value)"
                                                class="amplify-form-button" style="background-color:#C71585;">Confirm
                                                </button></div>
                                        <div class="amplify-form-cell-left">
                                            <div *ngIf="isconfriming" class="spinner-grow" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                </mdb-card-text>
                            </div>
                        </div>
                        <!--bindings={}-->
                    </div>


                </mdb-card-body>
            </mdb-card>
        </div>
    </div>

     
   


   
    <br>

    <div #alert class="alert alert-warning alert-dismissible fade " role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
        <div [innerHTML]="msgStr"></div>
    </div>

    


</div>

