
<app-header></app-header>
<br />
<h2 class="section-title text-center">{{pageTitle}}</h2>
<div class="row"  >
    <div class="col-sm-8">
      <table><tr><td></td><td>
        <input type="number"
        class="form-control mb-4"   placeholder="Enter 8 digits account number"
       #txtAccountNumber id="txtAccountNum" style ='width:300px;' >
      </td>
      <td>

          <button 
          (click)="FindAccountDetailsInAmazonES(txtAccountNumber.value)" 
          class=" form-control mb-4 btn-tab"
          type="submit">Search</button>
      </td>
      </tr></table>
      </div>
     
          </div>


          <table mdbTable>
            <thead>
              <tr>
                <th *ngFor="let head of headAssignmentElements" scope="col">{{head}} </th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let el of _AccountMapping">
                <th scope="row">{{el.Account}}</th>
                <td>{{el.Agency}}</td>
               
              </tr>
            </tbody>
          </table>


<div #alert class="alert alert-warning alert-dismissible fade " role="alert">
    <!-- <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <div [innerHTML]="msgStr"></div>
  </div>


                                   
                               
                                   
                        
                          
                       
                
                  

                        



    
