<app-header></app-header>
<br>


<div class="container-fluid">
      
    
        <div
        #alert
        class="alert alert-warning alert-dismissible fade "
        style="display:none;"
        role="alert"
      >
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="closeAlert()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div [innerHTML]="msgStr"></div>
      </div>
  
     

      <div class="row">

        <div class="col-sm-12 " style="  padding-top: 1px ; margin-top:1px; padding-left: 0px ; margin-left:1px;
        padding-right: 0px ; margin-right:1px;">
       <mdb-card class=" mb-3" bgColor="bg-light">
         <mdb-card-body>

  <div class="row">
    <div class="col-sm-6" >
    <div class="table-responsive">
             <table>
                 <tr><td>Select Date - </td><td><input #txtdate type="date"  class="form-control " /></td>
                     <td><button class=" form-control input_user" (click)="searchAuditLogsAWSES(txtdate.value)">Fetch Logs</button></td>
                    <td>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td> <td>
                        <button class=" form-control input_user" (click)="exportAsXLSX(searcheddate.value)">Export To xls</button>

                    </td><td>

                     
                    </td>
                    </tr>
             </table>
             </div>
            </div>
            <div class="col-sm-6 " >
              <label>   Total Count of Login:  <a  (click)="dashboardModal.show()">
                <span class="badge badge-dark badge-pill dark">
                {{dcaloginCount}}
              </span>
              </a></label>
            </div>
             </div>
            </mdb-card-body>
          </mdb-card>
        
      
        <div class="search-hero">
          <input class="form-control" type="text" name="search" id="txtSearchAuditLogs"
           autocomplete="off" placeholder=" Search.......">
        </div>
      </div>
       
       <input type="hidden" #searcheddate value={{searchdate}}
         name="searchdate">
         <div class="container-fluid">
          <div class="table-responsive" style="overflow:auto;  ">
  <table id="auditLogsTableSort" mdbTable class="z-depth-1" >
    <thead>
      <tr>
        <th *ngFor="let head of headElements ; let i = index" aria-controls="auditLogsTableSort"
         scope="col"
          [mdbTableSort]="exportAuditLogRecord" [sortBy]="headElements[i]">{{head | titlecase}}
         
        </th>
      </tr>
    </thead>
<tbody *ngFor="let auditLogRecordItem of exportAuditLogRecord | filter:searchAuditLogsText | paginate: { id: 'auditLogRecordPaging', itemsPerPage: 6, currentPage: pya }; let i = index " >
  <tr> 
        
      <td>{{auditLogRecordItem.loggeduser}}</td>
      <td>{{auditLogRecordItem.username}}</td>
      <td>{{auditLogRecordItem.roletype}}</td>
      <td>{{auditLogRecordItem.agnecyCode}}</td>
      <td>{{auditLogRecordItem.eventname}}</td>
      <td>{{auditLogRecordItem.eventtime}}</td>
      <td>{{auditLogRecordItem.desc}}</td>
      <td>{{auditLogRecordItem.clientip}}</td>
      
     
  </tr>
</tbody>    
</table>
<ul class="pagination">  
  <pagination-controls id= 'auditLogRecordPaging' (pageChange)="pya = $event"></pagination-controls>  
  </ul> 
  <ul>
    <!-- in case you want to show empty message -->
      <li *ngIf="(exportAuditLogRecord | filter: searchAuditLogsText).length === 0">
      No matching records
       </li>
  </ul>

</div>
</div>
</div>


<div mdbModal #dashboardModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
aria-labelledby="myBasicModalLabel" aria-hidden="true">
<div class="modal-dialog modal-fluid modal-full-height modal-right" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="dashboardModal.hide()">
        <i class="fas fa-times"></i>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel">DCA AUDIT DASHBOARD</h4>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="table-responsive" style="overflow:auto; height: 600px; ">
            <div class="search-hero">
                <input class="form-control" type="text" name="search" id="txtSearchAudit"
                 autocomplete="off" placeholder=" Search.......">
              </div>
              Actual DCA Logged In : - {{astroagnecycode?.length}}
              <ul class="nav grey lighten-4">
                  <li class="nav-item" *ngFor="let dcalist of astroagnecycode">
                   <a class="btn-tab" class="nav-link active"  (click)="getDCAWiseItems(dcalist)">  
                    <span class="badge badge-dark badge-pill dark"> {{dcalist}} </span></a>
                  </li>
           </ul>
    <table id="audittableSort" mdbTable class="z-depth-1">

      <thead>
        <tr>
          <th *ngFor="let head of headElements ; let i = index" aria-controls="audittableSort"
           scope="col"
            [mdbTableSort]="filteredDCARecord" [sortBy]="headElements[i]">{{head | titlecase}}
           
          </th>
        </tr>
      </thead>

      
<tbody *ngFor="let filteredLogRecordItem of filteredDCARecord | filter:searchAuditText | paginate: { id: 'auditLogsPaging', itemsPerPage: 6, currentPage: py }; let i = index" >
      
      <tr>
        <td>{{filteredLogRecordItem.loggeduser}}</td>
        <td>{{filteredLogRecordItem.username}}</td>
        <td>{{filteredLogRecordItem.roletype}}</td>
        <td>{{filteredLogRecordItem.agnecyCode}}</td>
        <td>{{filteredLogRecordItem.eventname}}</td>
        <td>{{filteredLogRecordItem.eventtime}}</td>
        <td>{{filteredLogRecordItem.desc}}</td>
        <td>{{filteredLogRecordItem.clientip}}</td>
        
       
    </tr>
</tbody>    
</table>

<ul>
  <!-- in case you want to show empty message -->
    <li *ngIf="(filteredDCARecord| filter: searchAuditText).length === 0">
    No matching records
     </li>
</ul>

<ul class="pagination">  
  <pagination-controls id= 'auditLogsPaging' (pageChange)="py = $event"></pagination-controls>  
  </ul>  


            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>

  