<div class="container" style="color:red;">

 <h2>Oops ! </h2> <h3>{{message}}</h3>

 <img src='../../assets/img/no-mobile.jpg' >
</div>


<div style="display:none">
  <input type="text" id=userFilter placeholder="Type to filter by name">

  <ul>
    <li *ngFor="let user of users | filter: userFilter">
      {{ user.name }}
    </li>
    
    <!-- in case you want to show empty message -->
    <li *ngIf="(users | filter: userFilter).length === 0">
      No matching elements
    </li>
  </ul>
</div>




