
<div id="container" *ngIf="showtimeoutpopup" >
        <div id="some_kind_of_popup" >
                

            <div class="modal-dialog" role="document">

                    <div class="modal-content">
        
                        <div class="modal-header">                 
        
                            <h4 class="modal-title">Session Expire Warning</h4>
        
                        </div>
        
                        <div class="modal-body">
        
                            Your session will expire in <span id="seconds-timer"></span> ({{_timecountdown}}) seconds . Do you want to extend the session?
        
                        </div>
        
                        <div class="modal-footer">
        
                            <button id="btnOk" type="button" class="btn btn-default" (click)="ForceToStop()"
                            style="padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; border: 1px solid transparent; border-radius: 4px;  background-color: #428bca; color: #FFF;">Ok</button>
        
                         
                            <button id="btnLogoutNow" type="button" class="btn btn-default" (click)="signout()"
                            style="padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; border: 1px solid transparent; border-radius: 4px;  background-color: #428bca; color: #FFF;">Logout now</button>
        
                        </div>
        
                    </div>
        
                </div>
        </div>
    </div>
   
 
    <div [innerHtml]="htmlSnippet | safe: 'html'"></div>
<router-outlet>
   
</router-outlet>

