<app-header></app-header>

<br />
<h2 class="section-title text-center">{{pageTitle}} <span  style="text-shadow: 2px 2px 5px green;">&nbsp;&nbsp;{{strCampaignStatus}}</span></h2>
<div class="container" >
<div  class="row" >
<div class="col-sm-12" style="background-color:#F0F8FF" >
<i id='eid' class="far fa-plus-square" (click)="ShowUploadPanel(CampaignUploadPanel)" >
<span>{{lblExpandList}}</span></i>

<div  style='background-color:#E6E6FA;' class="row" *ngIf="CampaignUploadPanel" >

 
 <div class="col-sm-4" style=' text-align:right; padding: 16px;' >
 Upload Campaign List - 
 </div>
  <div class="col-sm-7" style=' text-align:left;padding: 16px;' >
      <label  #xAgencyAssignmentFilter class="btn btn-info">
          <input id="txtFileUploader" type="file" (change)="upload($event)" />
        </label>
    </div>
    
     </div>

 </div>



<hr/>

  <div class="col-sm-4">
  <table ><tr><td style='padding: 6px;'>
 Enable/Disable Campaign
 </td><td  style='padding: 6px;'>
 <input type="checkbox" #ChkboxCampaign (change)="activateCompaign($event.target.checked)" 
[checked]="isCampaignActive"  /> 
</td></tr></table>
</div>

<div class="col-sm-5">
<table>
      <tr>
      <td>
        <input type="text" class="form-control mb-4"   placeholder="Enter Account No"
       #txtAccountNumber id="txtAccountNum" style ='width:150px;' >
      </td><td #txtAgencyDiv > <input type="text" class="form-control mb-4" placeholder="Enter Agency Code"
        #txtAgency id="txtAgencyCode" style ='width:150px;' ></td>
      <td>

          <button 
          (click)="FilterAssignmentItem(txtAccountNumber.value,txtAgency.value)" 
          class=" form-control mb-4 btn-tab"
          type="submit">Search</button>
      </td>
      </tr></table>

</div>
  <div class="col-sm-3" style="text-align :right;">


<a (click)="dashboardModal.show()" style='color:blue;' >Campaign Logs >></a>
</div>

<div *ngIf="isFileUploading" class="progress">
  <div
    class="progress-bar progress-bar-info progress-bar-striped"
    role="progressbar"
    attr.aria-valuenow="{{ _LoadingPercentage }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: _LoadingPercentage + '%' }"
  >
    {{ _LoadingPercentage }}%
  </div>
</div>

<div #alert class="alert alert-warning alert-dismissible fade " role="alert">
  <!-- <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button> -->
  <div [innerHTML]="msgStr"></div>
</div>
<marquee>This Page is still under development</marquee>
<hr />
<div style="display:none;">
  <b>List of uploaded Files :- </b>
  <div [innerHTML]="_htmlstring">{{ _htmlstring }}</div>
</div>

<div class="container"  >
  <div class="row" >
    <div class="col-md-12" >
      <div class="md-form">
        <input
          type="text"
          #searchText
          class="form-control"
          id="search"
          mdbInput
          style="padding-bottom:1; margin-bottom:1;"
        />
        <label for="search">Search Mapping</label>

        <!-- <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
            <label for="search">Search</label> -->
      </div>
    </div>
  </div>

  <button
  *ngIf="showprogressbar"
  mdbBtn
  color="default"
  outline="true"
  type="button"
  disabled
>
  <span
    class="spinner-border spinner-border-sm"
    role="status"
    aria-hidden="true"
  ></span>
  Please wait, Data is being loaded ...
</button>
  <table mdbTable small="true">
    <thead>
      <tr>
        <th *ngFor="let head of headAssignmentElements" scope="col">
          {{ head }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        id="row_{{ el.Id }}"
        *ngFor="
          let el of _ReadAssignmentData
            | paginate: { itemsPerPage: count, currentPage: p }
        "
      >
        <th scope="row">{{ el.AccountNumber }}</th>
        <td>
          <span
            id="assignDate_spn_{{ el.Id }}"
            (click)="ShowEditableField('assignDate', 'read', el.Id)"
          >
            {{ el.AssignedDate }}
          </span>

          <input
            type="date"
            #AssignedDate
            placeholder="Enter Assigned Date"
            style="border: 0; display:none;
              box-shadow: none; width:120px;"
            value="{{ el.AssignedDate }}"
            (focusout)="
              updateAssignmentItem(
                el.Id,
                el.AccountNumber,
                el.AgencyName,
                AssignedDate.value,
                el.ExpiryDate,
                'assignDate'
              )
            "
            id="assignDate_{{ el.Id }}"
          />
          <i  id="assignDate_Cancel_{{ el.Id }}" class="fas fa-times" style="display:none;"
           (click)="ShowEditableField('assignDate', 'read', el.Id)"></i>

          <span
            ><i
              id="assignDateUpdated_{{ el.Id }}"
              style="display: none;"
              class="far fa-check-circle"
              >{{ AssignDateUpdateMsg }}</i
            >
          </span>
        </td>
        <td>
          <span
            id="expiryDate_spn_{{ el.Id }}"
            (click)="ShowEditableField('expiryDate', 'edit', el.Id)"
          >
            {{ el.ExpiryDate }}
          </span>

          <input
            type="date"
            #ExpiryDate
            placeholder="Enter Expiry Date"
            style=" border: 0; display:none;
              box-shadow: none; width:120px;"
            [(ngModel)]="el.ExpiryDate"
            value="{{ el.ExpiryDate }}"
            (focusout)="
              updateAssignmentItem(
                el.Id,
                el.AccountNumber,
                el.AgencyName,
                el.AssignedDate,
                ExpiryDate.value,
                'expiryDate'
              )
            "
            id="expiryDate_{{ el.Id }}"
          />
          <i  id="expiryDate_Cancel_{{ el.Id }}" class="fas fa-times"   style="display:none;"
          (click)="ShowEditableField('expiryDate', 'read', el.Id)"></i>
          <span
            ><i
              id="expiryDateUpdated_{{ el.Id }}"
              style="display: none;"
              class="far fa-check-circle"
              >{{ ExpiryDateUpdateMsg }}</i
            >
          </span>
        </td>
        <td>{{ el.AgencyName }}</td>
        <td *ngIf="IsDeletionRequired"  >
          <a>
          <div id="delete_{{el.Id}}" (mouseover)="changebackground(true,'delete',el.Id)"
           (mouseout)="changebackground(false,'delete',el.Id)" style=" border-radius: 50%; width: 30px; height: 30px; background:#FFF;text-align: center;">
          <i
            (click)="
              removeAssignmentItem(el.AccountNumber, el.AgencyName, el.Id)
            "
            class="far fa-trash-alt"
          ></i>

          </div>
        </a>
        </td>
      </tr>
    </tbody>
  </table>
  <!--Including the pagination control.-->
  <div class="text-right" >
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class="text-left" >
    {{recordFoundMessage}}
    </div>
</div>

<div mdbModal #dashboardModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
aria-labelledby="myBasicModalLabel" aria-hidden="true">
<div class="modal-dialog modal-fluid modal-full-height modal-right" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-right" aria-label="Close" (click)="dashboardModal.hide()">
        <i class="fas fa-times"></i>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel">DCA CAMPAIGN HISTORY</h4>
    </div>
    <div class="modal-body">
     <div class="search-hero">
          <input class="form-control" type="text" name="search" id="txtSearchCampaignLogs"
           autocomplete="off" placeholder=" Search.......">
        </div>
    <table id="campaignTableSort" mdbTable class="z-depth-1" >
    <thead>
      <tr>
        <th *ngFor="let head of headCampaignElements ; let i = index" aria-controls="auditLogsTableSort"
         scope="col"
          [mdbTableSort]="campaignLogsArray" [sortBy]="headCampaignElements[i]">{{head | titlecase}}
         
        </th>
      </tr>
    </thead>
<tbody *ngFor="let _CampaignItem of campaignLogsArray | filter:searchCampaignLogsText | paginate: { id: 'campaignLogRecordPaging', itemsPerPage: 6, currentPage: pya }; let i = index " >
  <tr> 
<td>{{_CampaignItem.loggeduser}}</td>
<td style='display:none;'>{{_CampaignItem.projectname}}</td>
<td style='display:none;'>{{_CampaignItem.eventname}}</td>
<td style='display:none;'>{{_CampaignItem.username}}</td>
<td style='display:none;'>{{_CampaignItem.roletype}}</td>
<td style='display:none;'>{{_CampaignItem.startdate}}</td>
<td style='display:none;'>{{_CampaignItem.enddate}}</td>
<td>
<div *ngIf="_CampaignItem.isactive; then thenBlock else elseBlock"> ... </div> 
<ng-template #thenBlock>Activated</ng-template>
<ng-template #elseBlock>Deactivated</ng-template>
</td>
<td>{{_CampaignItem.desc}}</td>
<td>{{_CampaignItem.eventtime}}</td>
<td>{{_CampaignItem.clientip}}</td>
<td>{{_CampaignItem.published}}</td>
  </tr>
  </tbody>
  
  </table>

<ul class="pagination">  
  <pagination-controls id= 'campaignLogRecordPaging' (pageChange)="pya = $event"></pagination-controls>  
  </ul> 
  <ul>
    <!-- in case you want to show empty message -->
      <li *ngIf="(campaignLogsArray | filter: searchCampaignLogsText).length === 0">
      No matching records
       </li>
  </ul>
    </div>
    </div>
    </div>
    </div>
 
