/* You can add global styles to this file, and also import other style files */
@import "~aws-amplify-angular/theme.css";
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icomoon/icomoon.eot?srf3rx");
  src: url("/assets/fonts/icomoon/icomoon.eot?srf3rx#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
    url("/assets/fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
    url("/assets/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fs_albert_pro-regular";
  src: url("/assets/fonts/fs_albert_pro/fs_albert_pro-webfont.eot");
  src: url("/assets/fonts/fs_albert_pro/fs_albert_pro-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-webfont.woff") format("woff"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-webfont.ttf")
      format("truetype"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-webfont.svg#open_sansregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fs_albert_pro-thin";
  src: url("/assets/fonts/fs_albert_pro/fs_albert_pro-thin.eot");
  src: url("/assets/fonts/fs_albert_pro/fs_albert_pro-thin.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-thin.woff2") format("woff2"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-thin.woff") format("woff"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-thin.ttf") format("truetype"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-thin.svg#open_sansregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fs_albert_pro-bold";
  src: url("/assets/fonts/fs_albert_pro/fs_albert_pro-bold-webfont.eot");
  src: url("/assets/fonts/fs_albert_pro/fs_albert_pro-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-bold-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-bold-webfont.woff")
      format("woff"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-bold-webfont.ttf")
      format("truetype"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-bold-webfont.svg#open_sansregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fs_albert_pro-light";
  src: url("/assets/fonts/fs_albert_pro/fs_albert_pro-light-webfont.eot");
  src: url("/assets/fonts/fs_albert_pro/fs_albert_pro-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-light-webfont.woff2")
      format("woff2"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-light-webfontt.woff")
      format("woff"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-light-webfont.ttf")
      format("truetype"),
    url("/assets/fonts/fs_albert_pro/fs_albert_pro-light-webfont.svg#open_sansregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  min-height: 100%;
  position: relative;
  height: 100%;
}

body {
  font-family: "fs_albert_pro-regular";
  font-size: 16px;
  color: #333;
  background: #fff;
  line-height: 22px;
  padding-top: 40px;
  margin-bottom: 52px;
  height: 80%;
}

.btn-footer {
  /* background: #c01e11; */
  background: #e4087d;
  color: #fff;
  border: 0px solid #ff5126 !important;
}

.btn-tab {
  /* background: #c01e11; */
  background: #974a98;
  color: #fff;
  border: 0px solid #ff5126 !important;
}

#popup_box {
  width: 600px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
  color: #333333;
  opacity: 1;
}

#modelpopup {
  background-color:white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  position: absolute;

  color: #f3f3f3;
  z-index: 1;
  opacity: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.hiddenRow {
  padding: 0 !important;
}

p {
  font-family: Lato;
}

.hideChildren > tr.hideChildren {
  display: none;
}

.error {
  color: crimson;
}
.success {
  color: green;
}

#invdtmenu::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox
}

#accountdetailscroll::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox
}

.blink {
  width: 100px;
  height: 20px;
  padding: 5px;
  text-align: center;
  line-height: 10px;
  border-radius: 25px;
  margin-left: 10px;
}
#spnstatus {
  font-family: cursive;
  color: white;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#container {
  position: fixed;
  top: 100px;
  width: 100%;
  text-align: center;

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#some_kind_of_popup {
  display: inline-block;
  width: 90%;
  max-width: 900px;
  min-height: 300px;

  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.loader {
  position: fixed;
  top: 40%;
  left: 43%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Splash style */
.splash {
  position: fixed;
  z-index: 2000;
  background: white;
  color: gray;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.splash-title {
  text-align: center;
  max-width: 500px;
  margin: 15% auto;
  padding: 20px;
}
.splash-title h1 {
  font-size: 26px;
}

/* Fancy blur effect */

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#indexLoadingDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

// Variables
$bar-color: #fff;
$ball-color: #fff;
$bg-color: #ea4961;

// html {
//   height: 100%;
// }
.splashLoader {
  height: 100%;

  position: absolute;
  top: 50%;
  left: 40%;
  width: 50em;
  height: 18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  // border: 1px solid #ccc;
  color: #f3f3f3;
  z-index: 1;
  opacity: 0.6;

  background: $bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.loadersplash {
  position: absolute;
  width: 75px;
  height: 100px;

  &__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: $bar-color;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        left: ($i - 1) * 15px;
        transform: scale(1, $i * 0.2);
        animation: barUp#{$i} 4s infinite;
      }
    }
  }

  &__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: $ball-color;
    border-radius: 50%;
    animation: ball 4s infinite;
  }
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}


.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}





.dcaTitleText {
  position: absolute;
  top: 50%; 
  right: 50%;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 12em;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}
.navbar{height: 55px;}
