<app-header></app-header>

<div *ngIf="AllowToDisplay" class="container-fluid" >
  <div >
    <br />
    <h2 class="h2 mb-4 text-center">
      User Management - Add {{ addingUserType }}
    </h2>
    <label style="font-style:italic;"> {{ LimitMsg }} </label>

    <div id="divform" class="row" *ngIf="!ShowVerifyPnl">
      <div *ngIf="IsUserTypeVisible" class="col-sm-2">
        <select
          (change)="UserTypeChanged()"
          class="browser-default custom-select mb-4"
          id="selectType"
        >
          <option value="" disabled="" selected="">Choose User Type</option>
          <option value="{{ type.code }}" *ngFor="let type of usertype">{{
            type.name
          }}</option>
        </select>
      </div>

      <div #xAgencyCodeDiv class="col-sm-2 md-form">
        <input
          type="text"
          #xAgencyCode
          id="txtAgencyCode"
          (change)="
            validateRequiredFields(
              xAgencyCode.value,
              'Agency Code',
              'Agency Code'
            )
          "
          class="form-control "
          mdbInput
        />
        <label for="txtAgencyCode">&nbsp;&nbsp;Agency Code Input</label>
      </div>

      <div #xAgencyNameDiv class="col-sm-2 md-form">
        <input
          type="text"
          #xAgencyName
          id="txtAgencyName"
          (change)="
            validateRequiredFields(
              xAgencyName.value,
              'Agency Name',
              'Agency Name'
            )
          "
          class="form-control "
          mdbInput
        />
        <label for="txtAgencyName">&nbsp;&nbsp;Agency Name Input</label>
      </div>

      <div #xEmpIdDiv class="col-sm-2 md-form">
        <input
          type="text"
          #xEmpId
          id="txtEmployeeId"
          (change)="
            validateRequiredFields(xEmpId.value, 'Employee Id', 'Employee Id')
          "
          class="form-control "
          mdbInput
        />
        <label for="txtEmployeeId">&nbsp;&nbsp;Employee Id Input</label>
      </div>

      <div class="col-sm-2 md-form">
        <input
          type="text"
          #xfullname
          id="txtfullname"
          (change)="
            validateRequiredFields(
              xfullname.value,
              somePlaceholder,
              'Full Name'
            )
          "
          class="form-control "
          mdbInput
        />
        <label for="txtfullname">{{ somePlaceholder }}</label>
      </div>
      <div class="col-sm-2 md-form">
        <input
          type="text"
          #xuid
          id="txtuserid" value=''
          class="form-control "
          
          (change)="validateLoginIdFields(xuid.value)"
          autocomplete="new-password"
          mdbInput
        />
        <label for="txtuserid">Login Id Input</label>
      </div>
      <div class="col-sm-2" style="display:none;">
        <input
          type="password"
          #xpwd
          id="txtpassword"
          class="form-control "
          (change)="validatePasswordFields(xpwd.value)"
          placeholder="Password"
        />
      </div>
      <div id="divemailid" #emaildiv class="col-sm-3 md-form">
        <input
        
          #xemail
          id="txtemailid"
          class="form-control "
          (change)="validateemailFields(xemail.value)"
          type="email"
          
          autocomplete="my-field-name1" 
          mdbInput
        />
        <label for="txtemailid">Email Id Input</label>
      </div>

      <!-- <div class="col-sm-2">
    
       
        <input  title="Login Expiry Date" type="date" #xexpirydate id="txtexpirydate"
         (focusout)="validateExpiryDate(xexpirydate.value)"
         min=getdate() max="2070-12-31" required
          class="form-control mb-4" placeholder="Expiry date">
       
      </div> -->
      <!-- Default inline 1
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
  <label class="custom-control-label" for="defaultInline1">Winlead</label>
</div>


<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
  <label class="custom-control-label" for="defaultInline2">Winback</label>
</div>
-->
      <div #xAgentLimit class="col-sm-2 md-form">
        <input
          type="number"
          #xAgentCreationLimit
          id="txtAgentLimit"
          (change)="
          validateRequiredFields(
            xAgentCreationLimit.value,
            'Agent Creation Limit  (numeric value) for agency',
            'Agent Limit'
          )
        "

       
          class="form-control "
          mdbInput
        />
        <label for="txtAgentLimit">&nbsp; Enter Agent Limit</label>
      </div>
      <div class="col-sm-2">
        <button
          [disabled]="!isUserInvalid()"
          (click)="
            signUp(
              xuid.value,
              xpwd.value,
              xemail.value,
              xfullname.value,
              xEmpId.value,
              xAgencyName.value,
              xAgencyCode.value,
              xAgentCreationLimit.value
            )
          "
          class="  btn btn-footer">
          Add {{ addingUserType }}
        </button>
      </div>
        <div class="col-sm-2">
        <button (click)="clear()" class="  btn btn-tab">Remove Inputs</button>
      </div>
    </div>

    <div
      #alert
      class="alert alert-warning alert-dismissible fade "
      style="display:none;"
      role="alert"
    >
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="closeAlert()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div [innerHTML]="msgStr"></div>
    </div>

    <div class="row" *ngIf="ShowVerifyPnl">
      <div class="col-sm-2">
        User Name
        <input
          type="text"
          class="form-control mb-4"
          #lblUserName
          id="lblUserName"
          value="{{ _username }}"
        />
      </div>
      <div class="col-sm-2">
        Enter Code
        <input
          type="text"
          #xcode
          id="txtcode"
          (focusout)="
            validateRequiredFields(
              xcode.value,
              'Verification code',
              'Verification code'
            )
          "
          class="form-control mb-4"
          placeholder="Code"
        />
      </div>
      <div class="col-sm-2">
        <button
          [disabled]="!isCodeInvalid()"
          (click)="verfiyCode(lblUserName.value, xcode.value)"
          class="btn btn-info btn-block my-4"
          type="submit"
        >
          Verify Code
        </button>
      </div>
    </div>

    <div class="row" style=" padding-bottom:0; margin-bottom:0;">
      <div
        class=" col-sm-1 mx-auto md-form"
        style="padding-bottom:0; margin-bottom:0;"
      >
        Reload.. <a (click)="refreshpage()"><i class="fas fa-sync-alt"></i></a>
      </div>

      <div
        #AgencyFilterVisible
        class=" col-sm-3 mx-auto md-form"
        style="padding-bottom:0; margin-bottom:0;"
      >
        <select
          (change)="AgencyNameChanged()"
          class="browser-default custom-select mb-4"
          id="selectAgencyName"
          style="padding-bottom:1; margin-bottom:1;"
        >
          <option value="" disabled="" selected="">Filter Agency Name</option>
          <option
            value={{type}}
            *ngFor="let type of Agencydetails"
            >{{ type }}</option
          >
        </select>
      </div>
<!-- 
      <div
        class=" col-sm-6 mx-auto md-form"
        style="padding-bottom:0; margin-bottom:0;"
      >
        <input
          type="text"
          #searchText
          class="form-control"
          id="search"
          mdbInput
          style="padding-bottom:1; margin-bottom:1;"
        />
        <label for="search">Search User</label>
      </div> -->
      <div class="search-hero col-sm-6 mx-auto md-form"
      style="padding-bottom:0; margin-bottom:0;"
    >
          <input class="form-control" type="text" name="search" id="search"
           autocomplete="off" placeholder=" Search.......">
        </div>
     

     
    </div>

    <button
      *ngIf="showprogressbar"
      mdbBtn
      color="default"
      outline="true"
      type="button"
      disabled
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Loading Users Details...
    </button>
    <table mdbTable class="z-depth-1">
        <thead>
            <tr>
              <th *ngFor="let head of headElements ; let i = index" aria-controls="auditLogsTableSort"
               scope="col"
                [mdbTableSort]="usersdetails" [sortBy]="headElements[i]">{{head | titlecase}}
               
              </th>
            </tr>
          </thead>

     <!--  <thead>
        <tr>
          <th *ngFor="let head of headElements; let i = index" scope="col">
            {{ head }}
          </th>
        </tr>
      </thead> -->
      <tbody  *ngFor="let el of usersdetails | filter: searchText | paginate: { id: 'userRecordPaging', itemsPerPage: 6, currentPage: pya }; let i = index " >
          <tr
          id="row_{{ el.UserName }}"
         
        >
         
          <td >
            {{ el.UserType }}
          </td>
          <td >
            <span
              id="spnagencycode_{{ el.UserName }}"
              (click)="
                ShowEditableField(
                  'agencycode',
                  el.UserName,
                  'edit',
                  el.UserType
                )
              "
            >
              {{
                el.UserType === "Agency" || el.UserType === "Agent"
                  ? el.agencyCode
                  : ""
              }}
            </span>
            <input
              type="text"
              placeholder="Enter Agency Code"
              style=" border: 0; display:none;
             box-shadow: none; width:100px;"
              value="{{ el.agencyCode }}"
              (focusout)="
                updateAgencyCode(el.UserName, el.UserType, el.agencyname, el.agencyCode)
              "
              id="agencycode_{{ el.UserName }}"
            />
            <span
              ><i
                id="agencycodeupdated_{{ el.UserName }}"
                style="display: none;"
                class="far fa-check-circle"
                >{{ agencyCodeUpdateMsg }}</i
              >
            </span>
          </td>
          <td >
            <span
              id="spnagencyfullname_{{ el.UserName }}"
              (click)="
                ShowEditableField(
                  'agencyfullname',
                  el.UserName,
                  'edit',
                  el.UserType
                )
              "
            >
              {{
                el.UserType === "Agency" || el.UserType === "Agent"
                  ? el.agencyFullName
                  : ""
              }}
            </span>
            <input
              type="text"
              placeholder="Enter Agency Name"
              style=" border: 0; display:none;
             box-shadow: none; width:200px;"
              value="{{ el.agencyFullName }}"
              (focusout)="
                updateAgencyFullName(el.UserName, el.UserType, el.agencyname,el.agencyCode)
              "
              id="agencyfullname_{{ el.UserName }}"
            />
            <span
              ><i
                id="agencyfullnameupdated_{{ el.UserName }}"
                style="display: none;"
                class="far fa-check-circle"
                >{{ agencyFullNameUpdateMsg }}</i
              >
            </span>
          </td>
          <td >
            <span
              id="spnAgentLimit_{{ el.UserName }}"
              (click)="
                ShowEditableField(
                  'AgentLimit',
                  el.UserName,
                  loggedInUserType === 'Agency' ? 'read' : 'edit',
                  el.UserType
                )
              "
            >
              {{ el.UserType === "Agency" ? el.agentLimit : "" }}
            </span>

            <input
              type="number"
              placeholder="Enter Limit"
              style=" border: 0; display:none;
            box-shadow: none; width:150px;"
              value="{{ el.agentLimit }}"
              (focusout)="updateAgentLimit(el.agencyCode,el.UserName )"
              id="agentLimit_{{ el.UserName }}"
            />
            <span
              ><i
                id="agentLimitUpdated_{{ el.UserName }}"
                style="display: none;"
                class="far fa-check-circle"
                >{{ AgentLimitUpdateMsg }}</i
              >
            </span>
          </td>

          <td >
            {{ el.UserType === "Agent" ? el.agentId : "" }}
          </td>
          <td >
            <span
              id="spnuserfullname_{{ el.UserName }}"
              (click)="
                ShowEditableField('Fullname', el.UserName, 'edit', el.UserType)
              "
            >
              {{ el.FullName }}</span
            >
            <input
              type="text"
              placeholder="Enter full name"
              style=" border: 0; display:none;
            box-shadow: none; width:150px;"
              value="{{ el.FullName }}"
              (focusout)="updateUsersFullName(el.UserName)"
              id="userfullname_{{ el.UserName }}"
            />
            <span
              ><i
                id="fullnameuserupdated_{{ el.UserName }}"
                style="display: none;"
                class="far fa-check-circle"
                >{{ FullNameUpdateMsg }}</i
              >
            </span>
          </td>
          <td >
            {{ el.UserName }}
          </td>
          <td >
            <span
              id="spnuseremailid_{{ el.UserName }}"
              (click)="
                ShowEditableField('email', el.UserName, 'edit', el.UserType)
              "
            >
              {{ el.email }}</span
            >
            <input
              type="text"
              placeholder="Enter email id"
              style=" border: 0; display:none;
            box-shadow: none; width:150px;"
              value="{{ el.email }}"
              (focusout)="
                updateUsersEmailId(el.UserName, el.UserType, el.agencyname, el.agencyCode)
              "
              id="useremailid_{{ el.UserName }}"
            />
            <span
              ><i
                id="emailiduserupdated_{{ el.UserName }}"
                style="display: none;"
                class="far fa-check-circle"
                >{{ emailIdUpdateMsg }}</i
              >
            </span>
          </td>
          <td >
            <span id="spnLoginTime_{{el.UserName}}" *ngIf="!el.isLoginTimeEditable">{{el.logintime}}</span>
            <input
              *ngIf="el.isLoginTimeEditable"
              type="text"
              placeholder="Enter login time"
              style=" border: 0;
               box-shadow: none; width:100px;"
              value="{{el.logintime}}"
              (focusout)="UpdateLoginTime(el.UserName, el.UserType, el.agencyname, el.agencyCode)"
              id="logintimeUser_{{ el.UserName }}"
            />
            <span
              ><i
                id="logintimeUserupdated_{{ el.UserName }}"
                style="display: none;"
                class="far fa-check-circle"
                >{{ loginTimeMsg }}</i
              >
            </span>
          </td>
          <!-- <td *ngIf="i+1 >= firstItemIndex && i < lastItemIndex">
  <input type="date"  placeholder="Enter expiry date"   
  (focusout)="updateExpiryDate(el.UserName)"          
     value={{el.expirydate}}   
     style = " border: 0;
     box-shadow: none; width:130px;"   
   id=loginexpirydateUser_{{el.UserName}} />
   <span><i id=loginexpiryUserupdated_{{el.UserName}} style="display: none;" 
    class="far fa-check-circle"></i>
    
   </span>
 </td> -->
          <td >
            <a
              (click)="showCodeWindow(el.UserName, el.UserStatus)"
              [ngClass]="{ disabled: el.UserStatus == 'UserStatus' }"
              >{{ el.UserStatus | lowercase }}
            </a>
            <div id="divverfy_{{ el.UserName }}" style="display:none;">
              <table style="padding:0; margin:0;">
                <caption>
                  {{
                    msgResend
                  }}
                </caption>
                <tr style="padding:0; margin:0;">
                  <td>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter code"
                        style="width:70px"
                        id="verfyUser_{{ el.UserName }}"
                      />
                    </div>
                  </td>
                  <td>
                    <a
                      mdbBtn
                      type="button"
                      size="sm"
                      color="primary"
                      outline="true"
                      mdbWavesEffect
                      (click)="resendCode(el.UserName)"
                      >Resend code</a
                    >
                  </td>
                </tr>
                <tr style="padding:0; margin:0;">
                  <td valign="top" align="right">
                    <a
                      mdbBtn
                      type="button"
                      size="sm"
                      color="primary"
                      mdbWavesEffect
                      (click)="confrimUser(el.UserName)"
                      >Verify</a
                    >
                  </td>
                  <td>
                    <a
                      mdbBtn
                      type="button"
                      size="sm"
                      color="default"
                      mdbWavesEffect
                      (click)="showCodeWindow(el.UserName, 'hide')"
                      >Cancel</a
                    >
                  </td>
                </tr>
              </table>
            </div>
          </td>

          <td >
            <a
              *ngIf="el.isDeactivtionValid"
              (click)="
                ChangeUserActiveState(
                  el.UserName,
                  el.UserType,
                  el.agencyname,
                  el.agencyFullName,
                  el.agencyCode
                )
              "
            >
              <i
                id="{{ el.UserName }}"
                [ngClass]="
                  el.IsEnabled == true
                    ? 'fas fa-user-check'
                    : 'fas fa-user-times'
                "
              >
                <input
                  type="hidden"
                  id="hdn_{{ el.UserName }}"
                  value="{{ el.IsEnabled }}"
                />
              </i>
            </a>
            <span id="spn_{{ el.UserName }}"></span>
          </td>
        </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="11">
           
              <ul class="pagination">  
                  <pagination-controls id= 'userRecordPaging' (pageChange)="pya = $event"></pagination-controls>  
                  </ul>    
<ul>
  <!-- in case you want to show empty message -->
    <li *ngIf="(usersdetails | filter: searchText).length === 0">
    No matching records
     </li>
</ul>
          </td>
        </tr>
      </tfoot>
    </table>
   
  </div>
</div>
