<app-header (Clicked)="onClicked($event)" (errored)="isErrored=$event" [errorstate] ="isErrored"
[state]="_isLoading"  (toggle)="_isLoading=$event"
></app-header>

<span  class="dcaTitleText">Winback</span>
<div *ngIf="_isLoading" class="splashLoader">
    
    
  <p> Please wait while page is loading....</p>

  <!-- Simple splash screen-->
  <!-- <div class="splash">
      <div class="color-line"></div>
      <div class="splash-title">
          <h1>Astro - DCA Portal</h1>
          <p> Please wait while page is loading....</p>
          <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
          </div>
      </div>
  </div> -->
<!-- Simple splash screen-->
<div class="loadersplash">
<div class="loadersplash__bar"></div>
<div class="loadersplash__bar"></div>
<div class="loadersplash__bar"></div>
<div class="loadersplash__bar"></div>
<div class="loadersplash__bar"></div>
<div class="loadersplash__ball"></div>
</div>
</div>

<div id="pnlcustomer" *ngIf="_isDataFound" class="container-fluid" style="  position: relative;">

  <br>

  <div class="row">
    <div style="  padding-right: 4px ; margin-right:4px;
    padding-left: 0px ; margin-left:0px; width:24%;   ">

      <div class=" my-0 waves-light" *ngFor='let customer of customers$'
        style=" margin:0px; padding: 0px ;width: 100%;" mdbWavesEffect>

        <mdb-card style=" margin:0px; padding: 0px ;">
          <mdb-card-header>
            <div class="row">
              <div class="col-md-6">Account Details</div>
              <div class="col-md-6 text-right">
                <mdb-icon fas icon="user"></mdb-icon>&nbsp;{{customer.Account_ID}}
              </div>
            </div>


          </mdb-card-header>
          <div id="accountdetailscroll" style="overflow: auto; height: 454px;">
            <table class="table table-sm" small="true" mdbTable hover="true">

              <tbody>
                <tr mdbTableCol>
                  <td><span></span>{{customer.ID_Type}}</td>
                  <td>{{customer.ID}}</td>
                </tr>

                <tr mdbTableCol>
                  <td><span></span>Mobile#</td>
                  <td>{{customer.MOBILE_PHONE}}</td>
                </tr>
                <tr mdbTableCol>
                  <td><span></span>Home#</td>
                  <td>{{customer.Home_Phone}}</td>
                </tr>

                <tr mdbTableCol>
                  <td><span></span>Office#</td>
                  <td>{{customer.Office_Phone}}</td>
                </tr>
                <tr mdbTableCol>
                  <td><span></span>e-Mail#</td>
                  <td>{{customer.e_mail}}</td>
                </tr>

                <tr mdbTableCol>
                  <td><span></span><span>SubType#</span></td>
                  <td>{{customer.SubType}}</td>
                </tr>

                <tr mdbTableCol>
                  <td scope="row"><span></span><span>Type#</span></td>
                  <td>{{customer.Type}}</td>
                </tr>

                <tr mdbTableCol>
                  <td scope="row"><span></span><span>Race#</span></td>
                  <td>{{customer.Race}}</td>
                </tr>

                <tr>

                  <td scope="row"><span></span><span>Service Address#</span></td>
                  <td *ngFor='let ad of address$'>{{ad.ServiceAddress}}</td>


                </tr>
                <tr>

                  <td scope="row"><span></span><span>Billing Address#</span></td>
                  <td *ngFor='let ad of address$'>{{ad.BillingAddress}}</td>


                </tr>

              </tbody>
            </table>
          </div>
        </mdb-card>
      </div>
    </div>
    <div class="col-sm-9" style="padding: 0px;">
      <div class="container text-center">
        <div class="row">
          <div class="col flex-unordered" style=" margin-left: 0px; padding-left: 0px;
             margin-right: 0px; padding-right: 0px;">
            <mdb-card>
              <mdb-card-header>Current Charges</mdb-card-header>
              {{_Curr_charges}}
            </mdb-card>
          </div>
          <div   class="col flex-last" style=" margin-left: 0px; padding-left: 0px;
          margin-right: 0px; padding-right: 0px;">
            <mdb-card>
              <mdb-card-header>Amount Due</mdb-card-header>
            <div #xdueamt id= "dueamt" >  {{_PasDueAmount}} </div>
            </mdb-card>
          </div>
          <div class="col flex-first" style=" margin: 0px; padding: 0px; margin-right: 0px; padding-right: 0px;">
            <mdb-card>
              <mdb-card-header>AR Balance</mdb-card-header>
            <div #xbalance id="balance">  {{_ar_balance}} </div>
            
            </mdb-card>
          </div>
          <div class="col flex-first" style=" margin: 0px; padding: 0px; margin-right: 0px; padding-right: 0px;">
            <mdb-card>
              <mdb-card-header>Debt Age</mdb-card-header>
              <div #xdebtAge id="debtAge">     {{_DebtAge}} </div>
            </mdb-card>
          </div>
          <div class="col flex-first" style=" margin: 0px; padding: 0px; margin-right: 0px; padding-right: 0px;">
            <mdb-card>
              <mdb-card-header>Invoice Age</mdb-card-header>
              <div #xinvoiceAge id="invoiceAge">     {{_Invoice_Age}} </div>
            </mdb-card>
          </div>

          <div class="col flex-first" style=" margin: 0px; padding: 0px; margin-right: 0px; padding-right: 0px;">
            <mdb-card>
              <mdb-card-header>Bill Cycle : {{_Bill_Cycle}}</mdb-card-header>

              Frequency : {{_Bill_Freq}}
            </mdb-card>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 exptable" style=" margin:0; padding-left:0; padding-top:2px; ">
            <mdb-card style="max-width: 30rem; margin: 0px; padding: 0px;">
              <mdb-card-header>COLLECTION BUCKET
                <span 
                [ngClass]="getCollectionBucketColor(_creditclass)"
                 >
                  {{_creditclass}}</span>
              </mdb-card-header>
              <mdb-card-body style="max-width: 20rem;height: 280px;">


                <table class="table table-sm" small="true" mdbTable hover="true">

                  <tbody *ngFor='let cb of collection$'>
                    <tr mdbTableCol>
                      <td><span></span>Bucket</td>
                      <td>Amount</td>
                    </tr>
                    <tr mdbTableCol>
                      <td><span></span>1 - 30</td>
                      <td>{{cb.bucket_1 }}</td>
                    </tr>
                    <tr mdbTableCol>
                      <td><span></span>31 - 60</td>
                      <td>{{cb.bucket_2 }}</td>
                    </tr>
                    <tr mdbTableCol>
                      <td><span></span>61 - 90</td>
                      <td>{{cb.bucket_3 }}</td>
                    </tr>
                    <tr mdbTableCol>
                      <td><span>&gt;</span>90</td>
                      <td>{{cb.bucket_4 }}</td>
                    </tr>

                  </tbody>
                </table>

              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-sm-4 exptable" style=" margin:0; padding-left:0; padding-top:2px; ">
            <mdb-card style="max-width: 30rem;">
              <mdb-card-header>ACCOUNT INFORMATION
                <span  
                 [ngClass]="getAccountInfoColor(_accstatus) "
                  >{{_BillType}}</span>
              </mdb-card-header>
              <mdb-card-body style="max-width: 20rem;height: 280px;">

                <table class="table table-sm" class="text-left" small="true" mdbTable hover="true">
                  <tbody *ngFor='let ant of account$'>

                    <tr mdbTableCol>
                      <td><span></span>BillCycle#</td>
                      <td>{{ant.BILL_CYCLE }}</td>
                    </tr>
                    <tr mdbTableCol>
                      <td><span></span>BillFreq#</td>
                      <td>{{ant.Bill_Freq }}</td>
                    </tr>
                    <tr mdbTableCol>
                      <td><span></span>PTPViolated#</td>
                      <td>{{ant.ptp_violated }}</td>
                    </tr>
                    <tr mdbTableCol>
                      <td><span></span>PayMethod#</td>
                      <td>{{ant.pay_method}}</td>
                    </tr>
                    <tr mdbTableCol>
                      <td><span></span>CCInfo#</td>
                      <td>{{ant.CC_info }}</td>
                    </tr>
                  </tbody>

                </table>



              </mdb-card-body>
            </mdb-card>
          </div>
          <div class="col-sm-4 exptable" style="  padding: 0px ; margin:0px; padding-top:2px; ">
            <mdb-card>
              <mdb-card-header>
                <div class="row">
                  <div>
                    <mdb-icon far icon="clone"></mdb-icon>&nbsp;Subscriber Status Information (SMC : {{_smccnt}} )
                  </div>

                </div>


              </mdb-card-header>

              <mdb-card-body style="height: 280px;padding:0;margin:0; ">

                <table class="table table-bordered table-sm" id="overview-table" small="true" mdbTable hover="true"
                  mdbTable mdbTableScroll scrollY="true" maxHeight="250" style="width:100%;" bordered="true"
                  style="border-collapse:collapse; padding:0;margin:0;">
                  <thead>
                    <tr>
                      <th style="width:50%; font-style: bold" *ngFor="let head of headElements" scope="col">{{head}}
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let el of smc$; let i = index;"
                    (click)="ele.class = ele.class == 'showChildren' ? '' :  'showChildren'"
                    [ngClass]="{ hideChildren : ele.class !== 'showChildren' }" [title]="el.SMC" #ele>
                    <tr>
                      <td>

                        <i (click)="expand(i)" id={{i}} class="far fa-plus-square"></i>


                        {{el.SMC}}
                      </td>
                      <td>

                        {{el.STATUS}} {{ele.ngClass}}
                      </td>

                    </tr>

                    <tr class="hideChildren">
                      <td colspan="2">

                        <table style="width:100%">
                          <tr>
                            <th>Status Date</th>
                            <td>{{el.Status_Date}}</td>
                          </tr>
                          <tr>
                            <th>Offer Name</th>
                            <td>{{el.OfferName}}</td>
                          </tr>
                          <tr>
                            <th>ARPU BT</th>
                            <td>{{el.ARPU_BT}}</td>
                          </tr>
                          <tr>
                            <th>ARPU AT</th>
                            <td>{{el.ARPU_AT}}</td>
                          </tr>
                          <tr>
                            <th>Min Sub Fee</th>
                            <td>{{el.MinSubFee}}</td>
                          </tr>
                          <tr>
                            <th>Comm Start Date</th>
                            <td>{{el.CommStartDate}}</td>
                          </tr>
                          <tr>
                            <th>Comm End Date</th>
                            <td>{{el.CommEndDate}}</td>
                          </tr>
                          <tr>
                            <th>Paired</th>
                            <td>{{el.Paired}}</td>
                          </tr>
                          <tr>
                            <th>DMT</th>
                            <td>{{el.DMT}}</td>
                          </tr>
                        </table>
                      </td>
                    </tr>



                  </tbody>
                </table>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>



        <div class="row">
          <div class="col-sm-12 " style="  padding-top: 1px ; margin-top:1px; padding-left: 0px ; margin-left:0px;
             padding-right: 0px ; margin-right:0px;">
            <mdb-card class="text-white mb-3" bgColor="bg-light">
              <mdb-card-body>
                <a mdbBtn (click)="paymentModal.show()" class="btn-tab">Payment Information
                    <span class="badge badge-dark badge-pill dark">
                        {{ payment$?.length || '0' }} <img src='' style="display:none;" >
                      </span>
                </a>
                <a mdbBtn (click)="financeModal.show()" class="btn-tab">Financial Information
                    <span class="badge badge-dark badge-pill dark">
                        {{ finance$?.length || '0' }}
                      </span>
                </a>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>

      </div>



    </div>
  </div>




  <div class="row">


    <div class="col-sm-9 exptable" style="  padding: 0px ; margin:0px; ">


    </div>


  </div>






<ul *ngIf="_isDataFound" class="list-group list-group-horizontal text-center list-group-flush"
  style="width:99%; border:none;padding: 0; margin: 0;  ">
  <li  (click)= LoadInteractionData() class="list-group-item" style="width:20%
      ;padding-left: 0; margin-left: 0; margin-right: 0; padding-right: 0; ">
    <a class="btn btn-floating btn-large btn-footer waves-light " (click)="frame.show()" 
    style="width:100%" color="amber"
      mdbWavesEffect>Interactions Details &nbsp;
      <span  *ngIf='isInteractionDetailsLoading' class="spinner-border spinner-border-sm text-warning" role="status" aria-hidden="true"></span>
      <span class="badge badge-dark badge-pill dark">
          {{ interationelements?.length || '' }}
      </span>
      </a>
    </li>
  <li (click)=LoadDisconnectionInfoData() class="list-group-item" style="width:20%
      ; padding-left: 0; margin-left: 0; margin-right: 0; padding-right: 0"><a
      class="btn btn-floating btn-large btn-footer waves-light " (click)="discntframe.show()" style="width:100%" color="amber"
      mdbWavesEffect>Disconnection
      Details &nbsp;
      <span  *ngIf='isDisconnectionDetailsLoading' class="spinner-border spinner-border-sm text-warning" role="status" aria-hidden="true"></span>
      <span class="badge badge-dark badge-pill dark">
          {{ disconnectiondetails$?.length || '' }}
        </span></a></li>
  <li (click)=LoadBillInformationData() class="list-group-item" style="width:20% ; 
      padding-left: 0; margin-left: 0; margin-right: 0; padding-right: 0">
    <a class="btn btn-floating btn-large btn-footer waves-light" style="width:100%"
     (click)="billframe.show()" color="amber"
      mdbWavesEffect>Billing Details &nbsp;
      <span  *ngIf='isBillingDetailsLoading' class="spinner-border spinner-border-sm text-warning" role="status" aria-hidden="true"></span>
      <span class="badge badge-dark badge-pill dark">
          {{ billinfromation?.length || '' }}
        </span></a></li>
  <li (click)=LoadFreePreviewInfoData() class="list-group-item" style="width:20% ; padding-left: 0; margin-left: 0; margin-right: 0; padding-right: 0">
    <a class="btn btn-floating btn-large btn-footer waves-light " (click)="fpframe.show()" style="width:100%" color="amber"
      mdbWavesEffect>Free Preview
      Details  &nbsp;
      <span  *ngIf='isFreePreviewMsgLoading' class="spinner-border spinner-border-sm text-warning" role="status" aria-hidden="true"></span>
      <span class="badge badge-dark badge-pill dark">
          {{ freepreview$?.length || '' }}
        </span></a></li>
  <li (click)=LoadFlashMessageData() class="list-group-item" style="width:20% ; padding-left: 0; margin-left: 0; margin-right: 0; padding-right: 0">
    <a class="btn btn-floating btn-large btn-footer waves-light " (click)="flashframe.show()" style="width:100%" color="amber"
      mdbWavesEffect>Flash Message
      Details  &nbsp;
      <span *ngIf='isFlashMsgLoading' class="spinner-border spinner-border-sm text-warning" role="status" aria-hidden="true"></span>
      <span class="badge badge-dark badge-pill dark">
          {{ flashmsg$?.length || '' }}
        </span></a></li>

</ul>


<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Interaction Details</h4>
        <span>
            <table ><tr><td>
              
        <button *ngIf="showprogressbar" mdbBtn color="default" outline="true" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Please wait, Data is being loaded...
        </button>
       
     
                <a  *ngIf="!showprogressbar" (click)="LoadInteractionData(true)"><i  class="fas fa-sync-alt"></i></a>
              </td><td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
               </tr>
              </table>
            </span>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">

          <div class="search-hero">
              <input class="form-control" type="text" name="search" id="txtSearchInteraction"
               autocomplete="off" placeholder=" Search.......">
            </div>

        <table class="table table-hover" mdbTable class="z-depth-1" mdbTableScroll scrollY="true" 
          maxHeight="450"
          bordered="true">
          <thead>
            <tr>
                
              <th *ngFor="let head of headInterationElements; let i = index" scope="col">{{head}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let el of interationelements  | filter:searchInteractionText| paginate: { id: 'interactionPaging', itemsPerPage: 5, currentPage: pi }">
              <th  scope="row">{{el.START_TIME}}</th>
              <td >{{el.Title}}</td>
              <td >{{el.Media}}</td>
              <td >{{el.Direction}}</td>
              <td >{{el.Text}}</td>
            </tr>
          </tbody>
          <tfoot class="grey lighten-5 w-100">

            <tr>
              <td colspan="5">
                <ul>
                   <!-- in case you want to show empty message -->
                     <li *ngIf="(interationelements | filter: searchInteractionText).length === 0">
                     No matching records
                      </li>
                </ul>
                  <ul class="pagination">  
                      <pagination-controls  id="interactionPaging"  (pageChange)="pi = $event"></pagination-controls>  
                      </ul>  
                <!-- <mdb-table-pagination [searchDataSource]="interationelements" (nextPageClick)="onNextPageClick($event)"
                  (previousPageClick)="onPreviousPageClick($event)">
                </mdb-table-pagination> -->
              </td>
            </tr>

          </tfoot>
        </table>




      </div>
      <div class="modal-footer">

        <button type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect
          data-dismiss="modal" (click)="frame.hide()">Close</button>

      </div>
    </div>
  </div>
</div>


<!-- disconnection details//-->


<div mdbModal #discntframe="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Disconnection Details</h4>
        <span>
            <table ><tr><td>
                

        <button *ngIf="showdisconnectprogressbar" mdbBtn color="default" outline="true" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Please wait, Data is being loaded...
        </button>

                <a  *ngIf="!showdisconnectprogressbar" (click)="LoadDisconnectionInfoData(true)"><i  class="fas fa-sync-alt"></i></a>
              </td><td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
               </tr>
              </table>
              </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="discntframe.hide()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
          <div class="search-hero">
              <input class="form-control" type="text" name="search" id="txtSearchDisconnection"
               autocomplete="off" placeholder=" Search.......">
            </div>
        <table class="table table-hover" mdbTable class="z-depth-1" mdbTableScroll scrollY="true" maxHeight="450"
          bordered="true">
          <thead>
            <tr>
              <th *ngFor="let head of headDisconnectionElements; let i = index" scope="col">{{head}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let el of disconnectiondetails$ | filter: searchDisconnectionText | paginate: { id: 'disconnectionPaging', itemsPerPage: 6, currentPage: d }; let i = index">
              <th  scope="row">{{el.SMC}}</th>
              <td >{{el.OrderType}}</td>
              <td >{{el.Date}}</td>

            </tr>
          </tbody>
          <tfoot class="grey lighten-5 w-100">

            <tr>
              <td colspan="3">

                  <ul>
                      <!-- in case you want to show empty message -->
                        <li *ngIf="(disconnectiondetails$ | filter: searchDisconnectionText).length === 0">
                        No matching records
                         </li>
                   </ul>
                  <ul class="pagination">  
                      <pagination-controls id='disconnectionPaging' (pageChange)="d = $event"></pagination-controls>  
                      </ul>  
              </td>
            </tr>

          </tfoot>
        </table>




      </div>
      <div class="modal-footer">

        <button type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect
          data-dismiss="modal" (click)="discntframe.hide()">Close</button>

      </div>
    </div>
  </div>
</div>



<!--Bill Details-->

<div mdbModal #billframe="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title" id="myModalLabel">Bill Details</h4>
        <span>
            <table >
              <tr>
              <td>
              


        <button *ngIf="showbillprogressbar" mdbBtn color="default" outline="true" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Please wait, Data is being loaded...
        </button>
        
                <a  *ngIf="!showbillprogressbar" (click)="LoadBillInformationData(true)"><i  class="fas fa-sync-alt"></i></a>
              </td><td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
               </tr></table>
              </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="billframe.hide()">
          <i class="fas fa-times"></i>
        </button>
       
      </div>
      <!--Body-->
      <div class="modal-body">


        <div class="card">
          <!-- <div class="card-header">
                  <h5 class="card-title"></h5>
              </div> -->
          <div class="card-body">

            <div class="row">
              <div class="col-sm-2" style="  padding-left: 0px ; margin-left:0px;    ">

                <mdb-card>
                  <mdb-card-header class="btn-primary d-flex justify-content-between align-items-center">Invoice Date
                    <span class="badge badge-dark badge-pill dark">
                      {{ billinfromation?.length || '0' }}
                    </span></mdb-card-header>
                  <div id="invdtmenu" style="height: 400px; overflow-y: scroll;">
                    <div *ngFor="let el of billinfromation; let i = index" class="list-group">


                      <a id={{el.CYCLE_SEQ_NO}}
                        class="list-group-item list-group-item-action flex-column align-items-start "
                        (click)="LoadBillDetailsData(el.BA_ACCOUNT_NO,el.CYCLE_SEQ_NO,el.InvoiceNumber,el.PayBy)">
                        <mdb-icon far icon="calendar-alt"></mdb-icon>&nbsp;{{el.InvoiceDate}}
                      </a>

                    </div>
                  </div>
                </mdb-card>
              </div>
              <div class="col-sm-10">

                <div class="row">
                  <div class="col-sm-3" style="  padding-left: 0px ; margin-left:0px;    ">
                    <mdb-card class="mb-3" bgColor="bg-light" style="max-width: 20rem">
                      <mdb-card-header>
                        <h5>Account ID</h5>
                      </mdb-card-header>
                      <mdb-card-body>
                        <!-- <mdb-card-title>
                              <h5>Light Panel title</h5>
                            </mdb-card-title> -->
                        <mdb-card-text>{{_accountNumber}}</mdb-card-text>
                      </mdb-card-body>
                    </mdb-card>
                  </div>

                  <div class="col-sm-3" style="  padding-left: 0px ; margin-left:0px;    ">
                    <mdb-card class="mb-3" bgColor="bg-light" style="max-width: 20rem">
                      <mdb-card-header>
                        <h5>Invoice Number</h5>
                      </mdb-card-header>
                      <mdb-card-body>

                        <mdb-card-text>{{_invoiceNumber}}</mdb-card-text>
                      </mdb-card-body>
                    </mdb-card>
                  </div>

                  <div class="col-sm-3" style="  padding-left: 0px ; margin-left:0px;    ">
                    <mdb-card class="mb-3" bgColor="bg-light" style="max-width: 20rem">
                      <mdb-card-header>
                        <h5>Pay By Date</h5>
                      </mdb-card-header>
                      <mdb-card-body>
                        <!-- <mdb-card-title>
                                      <h5>Light Panel title</h5>
                                    </mdb-card-title> -->
                        <mdb-card-text>{{_payBydate}}</mdb-card-text>
                      </mdb-card-body>
                    </mdb-card>
                  </div>
                </div>


                <div class="row">

                  <div class="col-sm-10" style="   padding-left: 0px ; margin-left:0px;  ">
                    <table mdbTable small="true" hover="true">
                      <thead class=" black-text">
                        <tr>
                          <th *ngFor="let head of billheadElements" scope="col">
                            <b>{{head}} </b></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr mdbTableCol *ngFor="let el of billinformationitem">
                          <th scope="row">{{el.prev_balance}}</th>
                          <td>{{el.Payment}}</td>
                          <td>{{el.OverDue_Charges}}</td>
                          <td>{{el.New_Charges}}</td>
                          <td>{{el.Total_Amt_due}}</td>
                        </tr>
                      </tbody>
                    </table>

                    <div style="overflow: auto; height:200px;">
                      <table mdbTable bordered="true" small="true" hover="true">
                        <thead>
                          <tr>
                            <th class="text-center align-items-center bg-light" colspan="6"><b>SMC# {{_smcNumber}}</b>
                            </th>
                          </tr>
                          <tr>
                            <th *ngFor="let head of billdetailsSMCElements" scope="col">{{head}} </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr mdbTableCol *ngFor="let el of billsmcdetails">
                            <th scope="row">{{el.ChargeCode}}</th>
                            <td>{{el.DESCRIPTION}}</td>
                            <td>{{el.Period}}</td>
                            <td>{{el.AMOUNT}}</td>
                            <td>{{el.GST}}</td>
                            <td>{{el.Total}}</td>
                          </tr>
                          <tr>
                            <th colspan="6" class="text-center align-items-center "></th>
                          </tr>
                          <tr class="bg-light">
                            <th colspan="6" class="text-center align-items-center "><b>SMC#</b></th>
                          </tr>
                          <tr mdbTableCol *ngFor="let el of billdetailsitem">
                            <th scope="row">{{el.ChargeCode}}</th>
                            <td>{{el.DESCRIPTION}}</td>
                            <td>{{el.Period}}</td>
                            <td>{{el.AMOUNT}}</td>
                            <td>{{el.GST}}</td>
                            <td>{{el.Total}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>



      </div>
      <!-- <div class="modal-footer">
 
        
          <button type="button" mdbBtn color="primary" outline="true" class="waves-light"
           mdbWavesEffect data-dismiss="modal" (click)="billframe.hide()">Close</button>

      </div> -->
    </div>
  </div>
</div>

<!--Freepreview -->

<div mdbModal #fpframe="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Free Preview Information</h4>
        <span>
          <table ><tr><td>

        <button *ngIf="showfreepreviewprogressbar" mdbBtn color="default" outline="true" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Please wait, Data is being loaded...
        </button> 
        <a  *ngIf="!showfreepreviewprogressbar" (click)="LoadFreePreviewInfoData(true)"><i  class="fas fa-sync-alt"></i></a>
      </td><td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
       </tr></table>
        </span>
        <button type="button" class="close" data-dismiss="modal" 
        aria-label="Close" (click)="fpframe.hide()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">

        <table class="table table-hover" mdbTable class="z-depth-1" mdbTableScroll scrollY="true" maxHeight="450"
          bordered="true">
          <thead>
            <tr>
              <th *ngFor="let head of headFreepreviewElements; let i = index" scope="col">{{head}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let el of freepreview$; let i = index">
              <th  scope="row">{{el.SMC}}</th>
              <td >{{el.Status}}</td>
              <td >{{el.ChannelName}}</td>
              <th >{{el.ChannelCode}}</th>
              <td >{{el.StartDate}}</td>
              <td >{{el.EndDate}}</td>
            </tr>
          </tbody>
          <tfoot class="grey lighten-5 w-100">

            <tr>
              <td colspan="3">
                <!-- <mdb-table-pagination [searchDataSource]="freepreview$"
                  (nextPageClick) = "onNextFreePreviewPageClick($event)"
                  (previousPageClick) = "onPreviousFreepreviewPageClick($event)">
                </mdb-table-pagination> -->
              </td>
            </tr>

          </tfoot>
        </table>




      </div>
      <div class="modal-footer">

        <button type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect
          data-dismiss="modal" (click)="fpframe.hide()">Close</button>

      </div>
    </div>
  </div>
</div>

<!--Flash Message-->


<div mdbModal #flashframe="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Flash Message</h4>

        <span>
            <table ><tr><td>
              

        <button *ngIf="showflashmsgprogressbar" mdbBtn color="default" outline="true" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Please wait, Data is being loaded...
        </button>
       
        <a  *ngIf="!showflashmsgprogressbar" (click)="LoadFlashMessageData(true)"><i  class="fas fa-sync-alt"></i></a>
      </td><td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
       </tr></table>
        </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="flashframe.hide()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">

        <table class="table table-hover" mdbTable class="z-depth-1" mdbTableScroll scrollY="true" maxHeight="450"
          bordered="true">
          <thead>
            <tr>
              <th *ngFor="let head of headFlashMsgElements; let i = index" scope="col">{{head}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let el of flashmsg$; let i = index">
              <th  scope="row">{{el.Title}}</th>
              <td >{{el.StartDate}}</td>
              <td >{{el.EndDate}}</td>
              <th >{{el.Status}}</th>
              <td >{{el.Text}}</td>
            </tr>
          </tbody>
          <tfoot class="grey lighten-5 w-100">

            <tr>
              <td colspan="6">
                <!-- <mdb-table-pagination [searchDataSource]="freepreview$"
                  (nextPageClick) = "onNextFreePreviewPageClick($event)"
                  (previousPageClick) = "onPreviousFreepreviewPageClick($event)">
                </mdb-table-pagination> -->
              </td>
            </tr>

          </tfoot>
        </table>




      </div>
      <div class="modal-footer">

        <button type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect
          data-dismiss="modal" (click)="flashframe.hide()">Close</button>

      </div>
    </div>
  </div>
</div>



<!-- finanacial information-->


<div mdbModal #financeModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="financeModal.hide()">
          <i class="fas fa-times"></i>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">FINANCIAL INFORMATION</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="table-responsive" style="overflow:auto; ">

              <div class="search-hero">
                  <input class="form-control" type="text" name="search" id="txtSearchFinance"
                   autocomplete="off" placeholder=" Search.......">
                </div>
            <table id="fintableSort" mdbTable class="z-depth-1" class="table table-striped">

              <thead>
                <tr>
                  <th *ngFor="let head of finheadElements ; let i = index" aria-controls="fintableSort" scope="col"
                    [mdbTableSort]="finance$" [sortBy]="finheadElements[i]">{{head | titlecase}}
                   
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let fin of finance$ | filter:searchFinanceText | paginate: { id: 'financePaging', itemsPerPage: 6, currentPage: fn }; let i = index">
                <tr>
                  <td>{{fin.PostDt}}</td>
                  <td>{{fin.Description}}</td>
                  <td>{{fin.TrnsType}}</td>
                  <td>{{fin.Amount}}</td>
                  <td>{{fin.UserID}}</td>
                  <td>{{fin.TrnsCode}}</td>
                </tr>

              </tbody>
            </table>
            <ul>
                <!-- in case you want to show empty message -->
                  <li *ngIf="(finance$ | filter: searchFinanceText).length === 0">
                  No matching records
                   </li>
             </ul>
            <ul class="pagination">  
                <pagination-controls id= 'financePaging' (pageChange)="fn = $event"></pagination-controls>  
                </ul>  
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--payment information-->
<div mdbModal #paymentModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="paymentModal.hide()">
          <i class="fas fa-times"></i>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">PAYMENT INFORMATION</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="table-responsive" style="overflow:auto; ">
              <div class="search-hero">
                  <input class="form-control" type="text" name="search" id="txtSearchPayment"
                   autocomplete="off" placeholder=" Search.......">
                </div>
            <table id="paymenttableSort" mdbTable class="z-depth-1" class="table table-striped">

              <thead>
                <tr>
                  <th *ngFor="let head of pmtheadElements ; let i = index" aria-controls="paymenttableSort"
                   scope="col"
                    [mdbTableSort]="payment$" [sortBy]="pmtheadElements[i]">{{head | titlecase}}
                   
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let pmt of payment$ | filter: searchPaymentText| paginate: { id: 'paymentPaging', itemsPerPage: 6, currentPage: py } ; let i = index">
                <tr>
                  <td>{{pmt.Method}}</td>
                  <td>{{pmt.DepositDt}}</td>
                  <td>{{pmt.PostDt}}</td>
                  <td>{{pmt.Amt}}</td>
                  <td>{{pmt.SRC_ID}}</td>
                  <td>{{pmt.CHKNO}}</td>
                  <td>{{pmt.BANK_TRNS_ID}}</td>
                  <td>{{pmt.REV_RSN}}</td>
                </tr>

              </tbody>
            </table>
            <ul>
                <!-- in case you want to show empty message -->
                  <li *ngIf="(payment$ | filter: searchPaymentText).length === 0">
                  No matching records
                   </li>
             </ul>
            <ul class="pagination">  
                <pagination-controls id= 'paymentPaging' (pageChange)="py = $event"></pagination-controls>  
                </ul>  
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>